/* BDO Grotesk — open-source neo-grotesk (SIL OFL 1.1) by Lokal Container / Deni Anggara.
   This is the real production typeface used by Organied Octopus (loaded on their site
   from a private Webflow CDN as "Bdogrotesk"). We sourced the same open-source family
   directly from its publisher's repo — https://github.com/LCTipografi/BDO-Grotesk —
   so no substitution was necessary. Full license: /assets/fonts/OFL.txt */

@font-face {
  font-family: 'BDOGrotesk';
  src: url('../assets/fonts/BDOGrotesk-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BDOGrotesk';
  src: url('../assets/fonts/BDOGrotesk-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BDOGrotesk';
  src: url('../assets/fonts/BDOGrotesk-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'BDOGrotesk';
  src: url('../assets/fonts/BDOGrotesk-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
